/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
.container {
  padding-inline: 3.125rem;
}
@media screen and (max-width: 600px) {
  .container {
    padding-inline: 0.5rem;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.heading {
  text-align: center;
}
.heading > span {
  color: #4f4f5a;
  text-transform: uppercase;
}
.heading h2 {
  font-family: "Amatic SC", cursive;
  font-size: 3.125rem;
  font-family: 400;
  padding-top: 0.3rem;
  padding-bottom: 2rem;
}
.heading h2 span {
  color: #ce1212;
}
/* End Global Rules */
/* Start Nav */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 0 5px gray;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.9rem;
  position: relative;
}
.nav .logo {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
.nav .logo::after {
  content: ".";
  border-radius: 50%;
  color: #ce1212;
}
.nav .links {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .nav .links .toggle {
    display: none;
  }
}
.nav .links .menu {
  display: flex;
}
.nav .links .menu li {
  margin-right: 1.25rem;
  padding-block: 0.625rem;
  position: relative;
  overflow: hidden;
}
.nav .menu li::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ce1212;
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: 0.5s;
}
.nav .menu li:hover::after,
body:has(#home:target) .home::after,
body:has(#chefs:target) .chefs::after,
body:has(#gallery:target) .gallery::after,
body:has(#contact:target) .contact::after {
  left: 0;
}
.nav .menu a {
  font-size: 1.1rem;
  font-weight: 500;
  color: #7d7d7d;
}
.nav .menu a:hover,
body:has(#home:target) li a[href="#home"],
body:has(#chefs:target) li a[href="#chefs"],
body:has(#gallery:target) li a[href="#gallery"],
body:has(#contact:target) li a[href="#contact"] {
  color: black;
}
.nav i {
  font-size: 1.5rem;
  color: black;
}
@media screen and (max-width: 1199px) {
  .nav .links {
    justify-content: flex-end;
  }
  .nav .links .toggle {
    padding-left: 20px;
    order: 2;
  }
  .nav .links .menu {
    display: none;
  }
  .nav .links .toggle:hover + .menu {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50%;
    height: 100vh;
    top: 0;
    right: 0;
    padding-top: 40px;
  }
  .nav .links .toggle:hover + .menu::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: -100%;
  }
  .nav .links .menu li {
    padding-left: 15px;
    padding-block: 1.5rem;
  }
  .nav .links .menu li:hover::after {
    left: -100%;
  }
}
/* End Nav */
/* Start Home */
#home {
  padding-top: 67px;
  background-color: #d8d9d4;
}
#home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-block: 2rem;
}
#home .info {
  width: 40%;
}
#home .info h2 {
  font-family: "Amatic SC", cursive;
  font-size: 4rem;
  color: #37373f;
}
#home .info p {
  padding-block: 0.7rem;
  color: #4f4f5a;
  line-height: 1.7;
}
#home .info .btns {
  display: flex;
  align-items: center;
}
#home .btns button {
  padding: 0.9rem 1.3rem;
  border: none;
  font-weight: 600;
  letter-spacing: 0.0187rem;
}
#home .btns .book-btn {
  background-color: #ce1212;
  color: #fff;
  border-radius: 20px;
  border-top-left-radius: 0px;
}
#home .btns .watch-btn {
  background-color: transparent;
  padding-left: 0rem;
}
#home .btns .icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-image: linear-gradient(to right, #ce1212 50%, transparent 50%);
  line-height: 3.5rem;
  text-align: center;
  position: relative;
  margin-inline: 20px;
}
#home .btns .icon::after {
  content: "";
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 5px;
  left: 7px;
}
#home .btns .icon i {
  color: black;
  position: relative;
  z-index: 1;
}
#home .img {
  width: 40%;
  filter: drop-shadow(5px 5px 10px #000a);
}
#home .img img {
  width: 100%;
}
@media screen and (max-width: 992px) {
  #home .container {
    flex-direction: column;
  }
  #home .img {
    order: -1;
    width: 90%;
  }
  #home .info {
    width: 100%;
    text-align: center;
  }
  #home .info .btns {
    justify-content: center;
  }
}
/* End Home */
/* Start Chefs */
#chefs {
  padding-block: 3.125rem;
}
#chefs .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#chefs .container .card {
  width: 33.33%;
  padding: 0.9rem;
  transition: 0.3s;
}
#chefs .container .card:hover {
  transform: scale(1.05);
}
#chefs .card .card-cont {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
#chefs .card .img {
  position: relative;
}
#chefs .card .img::after {
  content: url(../images/team-shape.svg);
  width: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}
#chefs .card .img img {
  width: 100%;
}
#chefs .card .caption {
  padding: 1.5rem;
  padding-top: 0;
  text-align: center;
}
#chefs .card .caption span {
  display: inline-block;
  padding-block: 0.5rem;
  color: #4f4f5a;
  font-size: 0.8rem;
}
#chefs .card .caption p {
  color: #4f4f5a;
  font-style: italic;
}
#chefs .card-cont .social {
  position: absolute;
  right: -100%;
  top: 20px;
  background-color: #ffffff4d;
  border-radius: 5px;
  text-align: center;
  transition: 0.5s 0.3s right;
}
#chefs .card:hover .social {
  right: 5px;
}
#chefs .card-cont .social li {
  padding: 10px 15px;
}
#chefs .card-cont .social li a {
  color: #37373f66;
  transition: 0.3s color;
  font-size: 1.25rem;
}
#chefs .card-cont .social li a:hover {
  color: #37373fe6;
}
@media screen and (max-width: 992px) {
  #chefs .container .card {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  #chefs .container .card {
    width: 100%;
  }
}
/* End Chefs */
/* Start Gallery */
#gallery {
  padding-block: 3.125rem;
  background-color: #eeeeee;
}
#gallery .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  height: 1050px;
}
#gallery .container .box {
  width: 31%;
  border: 4px solid #fff;
  margin-block: 10px;
  position: relative;
  overflow: hidden;
}
#gallery .box .img img {
  width: 100%;
  display: block;
}
#gallery .box .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: -100%;
  left: 0;
  transition: 0.3s bottom;
}
#gallery .box .layer .text {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
#gallery .box .layer .text h3 {
  font-size: 1.45rem;
}
#gallery .box .layer .text p {
  margin-top: 0.5rem;
  color: #ddd;
}
#gallery .container .box:hover .layer {
  bottom: 0;
}
@media (min-width: 1400px) { 
  #gallery .container {
    height: 832px;
  }
  #gallery .container .box {
    width: 23%;
  }
 } 
@media screen and (max-width: 992px) {
  #gallery .container {
    height: 1650px;
  }
  #gallery .container .box {
    width: 48%;
  }
}
@media screen and (max-width: 768px) {
  #gallery .container {
    height: auto;
  }
  #gallery .container .box {
    width: 100%;
  }
  body {
    overflow-x: hidden;
  }
}

/* End Gallery */
/* Start Contact */
#contact {
  padding-block: 3.125rem;
}
#contact iframe {
  width: 100%;
  height: 350px;
}
#contact .details {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}
#contact .details .box {
  width: 48%;
}
#contact .details .box {
  background-color: #eeeeee;
  padding: 1.25rem;
  display: flex;
  align-items: center;
}
#contact .details .box i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ce1212;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
#contact .details .box .info {
  flex-grow: 1;
  padding-left: 1rem;
}
#contact .details .box .info h3 {
  color: #7d7d7d;
}
#contact .details .box .info p {
  padding-top: 0.8rem;
}
#contact form {
  margin-top: 2.5rem;
  padding: 2.5rem 1.25rem;
  box-shadow: 0px 0px 10px 0px #eeeeee8c;
  text-align: center;
}
#contact form .data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.25rem;
}
#contact form input {
  padding: 1rem;
}
#contact form .name,
#contact form .email {
  width: 48%;
}
#contact form .subject,
#contact form .message {
  width: 100%;
}
#contact form .message {
  font-family: "Roboto", sans-serif;
}
#contact form .message::placeholder {
  padding: 1rem;
}
#contact form button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: none;
  background-color: #ce1212;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #contact .details .box {
    width: 100%;
  }
  #contact form .name,
  #contact form .email {
    width: 100%;
  }
}
/* End Contact */
/* Start Footer */
#footer {
  background-image: url(../images/textured-metal-background.jpg);
  background-size: cover;
  mask-position: center;
  color: #fff;
  padding-block: 2rem;
}
#footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer .about {
  width: 24%;
}
#footer .about div {
  display: flex;
  align-items: center;
}
#footer .about div h2::after {
  content: ".";
  border-radius: 50%;
  color: #ce1212;
}
#footer .about img {
  width: 45px;
  padding-right: 10px;
}
#footer .about p {
  padding-block: 1.5rem;
}
#footer .about h3 {
  text-align: center;
  padding-bottom: 1rem;
}
#footer .about .social {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.12rem;
}
#footer .about .social li a {
  color: #fff;
  font-size: 1.5rem;
}
#footer .subscribe {
  width: 49%;
}
#footer .subscribe p {
  padding-block: 1.5rem;
}
#footer .subscribe .data input {
  padding: 0.8rem;
  width: 75%;
  border: none;
}
#footer .subscribe .data button {
  padding: 0.8rem;
  width: 24%;
  background-color: #ce1212;
  color: #fff;
  border: none;
}
#footer .subscribe .data button i {
  padding-right: 5px;
}
#footer .subscribe .links-head {
  padding-block: 1.5rem;
}
#footer .subscribe .links {
  display: flex;
  flex-wrap: wrap;
}
#footer .subscribe .links li {
  width: 50%;
  padding-bottom: 1.125rem;
  transition: 0.3s padding-left;
}
#footer .subscribe .links li::before {
  content: ">";
}
#footer .subscribe .links li:hover {
  padding-left: 20px;
}
#footer .subscribe .links li a {
  color: #fff;
}
#footer .details {
  width: 24%;
}
#footer .details ul li {
  display: flex;
  padding-top: 1rem;
}
#footer .details ul li i {
  padding-right: 0.8rem;
  color: #ce1212;
  font-size: 1.5rem;
}
@media screen and (max-width: 1200px) {
  #footer .about {
    width: 49%;
  }
  #footer .subscribe {
    width: 100%;
    order: 2;
    margin-top: 1.125rem;
  }
  #footer .details {
    width: 49%;
  }
}
@media screen and (max-width: 768px) {
  #footer .container {
    flex-direction: column;
  }
  #footer .about,
  #footer .subscribe,
  #footer .details {
    width: 100%;
  }
  #footer .details {
    order: 6;
    margin-top: 1.125rem;
  }
}
@media screen and (max-width: 600px) {
  :root {
    font-size: 13px;
  }
  #footer .subscribe .data input {
    width: 100%;
  }
  #footer .subscribe .data button {
    width: 100%;
    margin-top: 1.125rem;
  }
}
/* End Footer */
